.tag{
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	font-size: 12px;
	color: black;
}
.tag:hover{
	color: #20B2AA;
}
/*nier-nav*/
.nav{
	height: 34px;
	line-height: 34px;
	background-color: #20B2AA;
	color: white;
	min-width: 768px;
}
.nav .left{
	min-width: 100px;
	max-width: 200px;
	text-align: left;
	float: left;
}
.nav .right{
	min-width: 100px;
	max-width: 300px;
	text-align: right;
	float: right;
}
.nav .right .u{
	text-align: right;
	float: right;
	margin-right: 10px;
}

.nav .right .l{
	text-align: right;
	float: right;
}
.nav a{
	font-size: 1.4rem;
	color: #E0FFFF;
}
.nav a:hover{
	color: white;
}
.nav h2{
	font-family: "Microsoft YaHei";
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 34px;
}
.nav .un{
	color: white;
	font-size: 16px;
}
.nav .msg{
	color: #F0FFFF;
	font-size: 1.4rem;
}
/*nier-nav*/

/*nier-footer*/

.footer{
	height: 68px;
	line-height: 34px;
	background-color: #20B2AA;
	color: white;
}
.footer a{
	color: white;
}
.footer cite{
	color: #F0FFFF;
}
/*nier-footer*/

.content{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 1000px;
  min-width:768px;
  background-color: white;
}
.banner{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  max-width: 1000px;	
}

ul.ul-h{
  width: 100%;
  list-style: none;
  font-size: 1.8rem;
}

ul.ul-h li{
  float: left;
  height: 34px;
  line-height: 34px;
}

ul.ul-h>li>a{
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  color: #333;
}

ul.ul-h>li>a:hover{
  background-color: #27d8ce;
  color: white;
}

ul.ul-h>li.active>a{
  background-color: #20B2AA;
  color: white;
}

ul.ul-h>li>a:focus {
  outline: none;
}

ul.topic-list{
  padding-top: 5px;
  padding-bottom: 5px;
}

ul.topic-list li.topic-item{
  font-size: 1.3rem;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul.topic-list>li.topic-item>span.topic-tag{
  width: 20px;
  display: inline-block;
  text-align: center;
}

ul.topic-list>li.topic-item>span.topic-tag.hot{
  background-color: #FF7F42;
  color: white;
}

ul.topic-list>li.topic-item>span.topic-num{
  float: right;
  color: #999;	
}

div.topic-header{
  font-size: 1.8rem;
  text-align: center;
  border: 1px solid #ddd;
}

div.topic-box{
  padding-top: 5px;
  padding-bottom: 5px;
}