.tag{
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	font-size: 12px;
	color: black;
}
.tag:hover{
	color: #20B2AA;
}
/*nier-nav*/
.nav{
	height: 34px;
	line-height: 34px;
	background-color: #20B2AA;
	color: white;
	min-width: 768px;
}
.nav .left{
	min-width: 100px;
	max-width: 200px;
	text-align: left;
	float: left;
}
.nav .right{
	min-width: 100px;
	max-width: 300px;
	text-align: right;
	float: right;
}
.nav .right .u{
	text-align: right;
	float: right;
	margin-right: 10px;
}

.nav .right .l{
	text-align: right;
	float: right;
}
.nav a{
	font-size: 1.4rem;
	color: #E0FFFF;
}
.nav a:hover{
	color: white;
}
.nav h2{
	font-family: "Microsoft YaHei";
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 34px;
}
.nav .un{
	color: white;
	font-size: 16px;
}
.nav .msg{
	color: #F0FFFF;
	font-size: 1.4rem;
}
/*nier-nav*/

/*nier-footer*/

.footer{
	height: 68px;
	line-height: 34px;
	background-color: #20B2AA;
	color: white;
}
.footer a{
	color: white;
}
.footer cite{
	color: #F0FFFF;
}
/*nier-footer*/

.content{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 1000px;
  background-color: white;
}
.banner{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  max-width: 1000px;	
}

ul.ul-h{
  width: 100%;
  list-style: none;
  font-size: 1.8rem;
}

ul.ul-h li{
  float: left;
  height: 34px;
  line-height: 34px;
}

ul.ul-h>li>a{
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  color: #333;
}

ul.ul-h>li>a:hover{
  background-color: #27d8ce;
  color: white;
}

ul.ul-h>li.active>a{
  background-color: #20B2AA;
  color: white;
}

ul.ul-h>li>a:focus {
  outline: none;
}

ul.topic-list{
  padding-top: 5px;
  padding-bottom: 5px;
}

ul.topic-list li.topic-item{
  font-size: 1.3rem;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul.topic-list>li.topic-item>span.topic-tag{
  width: 20px;
  display: inline-block;
  text-align: center;
}

ul.topic-list>li.topic-item>span.topic-tag.hot{
  background-color: #FF7F42;
  color: white;
}

ul.topic-list>li.topic-item>span.topic-num{
  float: right;
  color: #999;	
}

div.topic-header{
  font-size: 1.8rem;
  text-align: center;
  border: 1px solid #ddd;
}

div.topic-box{
  padding-top: 5px;
  padding-bottom: 5px;
}

div.left-sec{
  float: left;
  min-height: 1000px; 
  width: 200px;
}

div.middle-sec{
  float: left;
  min-height: 1000px; 
  margin-left: 10px;
  margin-right: 10px;
  width: 556px;
}

div.right-sec{
  float: left;
  min-height: 1000px; 
  width: 200px;
  border: 1px solid #ddd;
}

div.n-refresh{
  display: block;
  height: 30px;
  width: 556px;
  text-align: center;
  border: 1px solid #ddd;
  margin-top: 10px;
  cursor: pointer;
}

div.n-refresh:hover{
  background-color: #ddd;
}

ul.n-list{
  width: 536px;
  display: block;
  margin: 20px 10px;
}

ul.n-list>li.n-item{
  padding-bottom: 20px;
}

ul.n-list>li.n-item a:hover{
  text-decoration: underline;
  color: #20B2AA;
}

ul.n-list>li.n-item>div.g-name{
  font-size: 1.8rem;
  margin-bottom: 5px;
}

ul.n-list>li.n-item>div.t-txt{
  padding-top: 5px;
}

ul.n-list>li.n-item>div.t-name a{
  font-size: 1.8rem;
  color: #20B2AA;
}

ul.n-list>li.n-item>ul.t-img{
  margin: 10px 0;
}

ul.n-list>li.n-item>ul.t-img>li>img{
  margin-right: 10px;
  cursor: pointer;
}

ul.n-list>li.n-item>div.n-reply{
  color: #999;
}
div.share{
    width: 24px;
    height: 88px;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -40px;
    z-index: 99;
    background-image: url("/nier/icon/share.png");
    background-repeat: no-repeat;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

div.share:hover{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

div.share>div.share-main{
  position: absolute;
  left: -44px;
  top: 0;
  border: 1px solid #ddd;	
}

.share-item.icon-1{
  background-image: url("/nier/icon/tieba.png");
  background-position: 0 0;
}

.share-item.icon-1:hover{
  background-position: 0 -34px;;
}

.share-item.icon-2{
  background-image: url("/nier/icon/tieba.png");
  background-position: -42px 0;
}

.share-item.icon-2:hover{
  background-position: -42px -34px;;
}

.share-item.icon-3{
  background-image: url("/nier/icon/tieba.png");
  background-position: -84px 0;
}

.share-item.icon-3:hover{
  background-position: -84px -34px;;
}

.share-item.icon-4{
  background-image: url("/nier/icon/tieba.png");
  background-position: -126px 0;
}

.share-item.icon-4:hover{
  background-position: -126px -34px;;
}

.share-item.icon-5{
  background-image: url("/nier/icon/tieba.png");
  background-position: -168px 0;
}

.share-item.icon-5:hover{
  background-position: -168px -34px;;
}

.share-item{
  width: 32px;
  height: 32px;
  display: block;
  cursor: pointer;
  margin: 5px;
}

.backtop{
  background-image: url("/nier/icon/tieba-m.png");
  background-position: 0 0;
  width: 45px;
  height: 45px;
  display: block;
  position: fixed;
  bottom:100px;
  left: 50%;
  margin-left: 520px;
}

.backtop:hover{
  background-position: -165px -110px;
  cursor: pointer;
}