<#include "/visitor/common/macro/default.ftl">
<!DOCTYPE html>
<html>
<head>

<title>home</title>
<link rel="stylesheet" type="text/css" href="/third-party/bootstrap/css/bootstrap.min.css"/>
<link href="/third-party/wang-editor/css/wang-editor.min.css" rel="stylesheet">		
<link href="/third-party/jquery/zyUpload.css" rel="stylesheet">
<link href="/nier/css/emoji.css" rel="stylesheet">
<link href="/nier/css/nier-core.css" rel="stylesheet">
<style type="text/css">

.h5 * {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.h5 *:before,
.h5 *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.w-e-text-container img{
	max-width:1110px;
}
</style>
</head>
<body>
	<#include "/visitor/common/layout/top2.ftl">
	<div class="container">
		<div class="jumbotron">
			${currentUser!""}<div class="emoji_tieba17"></div>
		</div>
		<div>	
			<div class="jumbotron">
				<img alt="" src="/nier/images/cloud.png">
			</div>
			<div class="jumbotron">
				<img alt="" src="/nier/images/butterfly.png">
			</div>
			<div style="height: 800px">
				<div id="editor1" class="toolbar"></div>
				<button class="btn btn-default" type="button" onclick="sub()">发表</button>
			</div>
			<div id="ttt" style="height: 800px">
				<h1 style="text-align:center;">Html5 Upload示例</h1>
			</div>
		</div>
	</div>
<#include "/visitor/common/layout/footer.ftl">
<#include "/visitor/common/js.ftl">
<#import "/visitor/common/js.ftl" as mac>
<@mac.loadJS third="bootstrap" nier=""/>
<script src="/third-party/wang-editor/js/wang-editor.min.js"></script>
<script>
	var cUser = '${(currentUser.id)!""}';
	var E = window.wangEditor;
	var editor = new E("#editor1");
	editor.customConfig.debug = true;
	editor.customConfig.uploadFileName = 'imageFile';
	editor.customConfig.showLinkImg = false;
	editor.customConfig.uploadImgServer = '/file/image/upload.do?t='+Math.random();  // 上传图片到服务器
	editor.customConfig.menus = [
	    'head',  // 标题
	    'bold',  // 粗体
	    'italic',  // 斜体
	    'underline',  // 下划线
	    'strikeThrough',  // 删除线
	    'foreColor',  // 文字颜色
	    //'backColor',  // 背景颜色
	    //'link',  // 插入链接
	    //'list',  // 列表
	    'justify',  // 对齐方式
	    //'quote',  // 引用
	    'emoticon',  // 表情
	    'image',  // 插入图片
	    //'table',  // 表格
	    //'video',  // 插入视频
	    //'code',  // 插入代码
	    'undo',  // 撤销
	    'redo'  // 重复
	];

	 //editor.customConfig.pasteFilterStyle = false;
	 editor.customConfig.pasteTextHandle = function (content) {
	        // content 即粘贴过来的内容（html 或 纯文本），可进行自定义处理然后返回
	        alert(content.indexOf("http://")>0)
	        return content;
	    }
	//editor.customConfig.uploadImgShowBase64 = true
	editor.create();
	
	function sub(){
		if($("div.w-e-text img.emoji").attr("src") || editor.txt.text() != ""){
			$("#ttt").html(editor.txt.html());
			/*$.ajax({
				url:"/home/index.do",
				data:{
					content:editor.txt.html()
				},
				success:function(res){
					$("#ttt").html(editor.txt.html());
				},
				error:function(res){
					
				}
			});*/
		} else {
			alert("内容不能为空");
		}
	}

</script>
</body>
</html>